<!--
* Copyright 2016 TransFICC Ltd.
*
* Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements.  See the NOTICE file distributed with this work
* for additional information regarding copyright ownership.  The ASF licenses this file to you under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
* OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the specific language governing permissions and limitations under the License.
-->
<html>
<head>
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/styling.css">
</head>
<body>
<div id="start-up-time" style="display: none;" data-value="{{startUpTime}}"></div>
<div id="disconnected" class="alert alert-danger" style="display: none;">
    <h3>Disconnected</h3>
</div>
<div class="container">
    <div>
        <h4>
            Iteration <span id="iteration">{{iteration}}</span><small> | <a id="set-iteration" href="#">Set Iteration</a> | <a id="status-update" href="#">Status Update</a></small>
        </h4>
    </div>
</div>
<div class="container-fluid">
    <div id="loading" class="label label-info">Loading...</div>
    <div id="jobs" style="display: none;">
        <div class="row">
            {{#each jobs}}
                {{#if shouldBeFullScreen}}
                <div class="col-md-12">
                {{else}}
                <div class="col-md-2">
                {{/if}}
                <div id="{{name}}"
                     class="job build-status-{{jobStatus}}"
                     data-title="{{name}}"
                     data-job-status="{{jobStatus}}"
                     data-priority="{{priority}}">
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <div><a target="_blank" href="{{url}}{{buildNumber}}">{{revision}}</a></div>
                                        <div><a target="_blank" href="{{url}}">{{name}}</a></div>
                                        <div class="test-report" {{#unless jobsTestResults}}hidden{{/unless}}>
                                            <span>Passed: {{jobsTestResults.passCount}}</span>
                                            <span>Failed: {{jobsTestResults.failCount}}</span>
                                            <span>Ignored: {{jobsTestResults.skipCount}}</span>
                                        </div>
                                        <div data-timestamp="{{timestamp}}" class="timestamp"></div>
                                    </td>
                                    <td style="vertical-align:top;">
                                        {{#each comments}}
                                            {{.}}<br/>
                                        {{/each}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="progress" {{#if shouldHideProgressBar}}hidden{{/if}}>
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{jobCompletionPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{jobCompletionPercentage}}%">
                                    <span class="sr-only">{{jobCompletionPercentage}}% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        </div>
    </div>
    <div id="update" style="display: none;">
        <span class="title">BREAKING NEWS:</span>
        &nbsp;
        <span class="message">{{status}}</span>
    </div>
</div>
<script src="/static/app.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>
